* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.li-main {
	margin-right: 10px;
}

.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
}
